header {
  height: 100px;
  z-index: 1000;
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid rgba(102, 45, 188, 0.8);
  padding: 20px 0px;
  width:100%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  float: none;
}

header {
  ul li.item {
    float: right;
    padding: 30px 15px;
    border-bottom: 0 solid transparent;
    max-height: none;
    transition: .3s padding ease-in-out;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
  }

  li.item > a {
    padding-top: 30px;
    padding-bottom: 30px;
    max-height: none;
    transition: .3s padding ease-in-out;
  }
}
