html, body, div, span, h1, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
  color: #8d8d8d;
  font-family: 'Raleway', sans-serif;
}

ol, ul {
  list-style: none;
}

.btn {
  background: lightseagreen;
  color: #fff;
  padding: 3px 10px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;

  &:hover {
    background: lightslategrey;
  }
}

#page-container {
  position: relative;
  left: 0;
  transition: left .3s ease-in-out!important;
  width:100%;
}
